* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: 1rem;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  margin: 0;
}

@media (min-width: 600px) {
  html,
  body {
    font-size: 20px;
  }
}

header {
  background: #22b;
  padding: 0.25rem 5vw;
}

header > a {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 0 0.5rem;
}

header nav {
  margin-bottom: 1rem;
}

@media (min-width: 1080px) {
  header {
    display: grid;
    grid-template-columns: 1fr 960px 1fr;
  }

  header > a {
    grid-column: 2 / 3;
  }

  header nav {
    grid-column: 2 / 3;
  }
}

header nav a {
  color: white;
  margin-right: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

header nav a:active,
header nav a:focus,
header nav a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: blue;
}

header nav a.active {
  background: white;
  color: blue;
}

main {
  padding: 2rem 5vw;
}

.examples {
  margin: 2rem 0;
}

@media (min-width: 1080px) {
  main {
    display: grid;
    grid-template-columns: 1fr 960px 1fr;
  }

  .content {
    grid-column: 2 / 3;
  }

  .examples {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, minmax(310px, 1fr));
  }
}

.image-example {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h1:not(:first-child),
h2:not(:first-child) {
  margin-top: 1.5rem;
}

h1 + *,
h2 + * {
  margin-top: 0.5rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

pre {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: andale mono, sans-serif;
  font-size: 0.75rem;
  overflow-x: scroll;
  padding: 0.75rem;
}

footer {
  background: #ddd;
  padding: 0.5rem 5vw;
}

@media (min-width: 1080px) {
  footer {
    padding-left: calc((100vw - 960px) / 2);
    padding-right: calc((100vw - 960px) / 2);
  }
}
